body {
  background-image: url(https://i.postimg.cc/PfQfyrGB/20191218-132032.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
   background-position: centre;
  }
  p{
	font-family: 'Lora', serif;
  }
  ul {
	list-style-type: none;
	margin: 30px;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	width: 90%;

  }
  
  li {
	float: right;
	font-family: 'Lora', serif;
	font-size: 16px;
  }
  
 
  li a:hover {
	background-color:rgb(53, 48, 48);
	opacity: 0.8;
	color: rgb(252, 249, 246);
  }
  
  .active {
	background-color: black;
	color:white;
  
  }
  .active:hover{
	  background-color: rgb(3, 70, 3);
	  color: rgb(182, 204, 182);
  }
  .footer {
	 position: fixed;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 
	 color: white;
	 text-align: center;
  }
  
  .fimg{
	
	   margin: 20px;
	}
  
  div.gallery:hover {
	border: 1px solid rgb(15, 15, 15);
	
  }


@media (min-width: 992px){
	.container{
		margin-left: 4%;
		margin-bottom: 4%;
		 margin-top: 1%;
		border: 5px solid grey; 
		opacity: 0.8;
		padding-top:1%;
		padding-left:2%;    
		border-radius: 1%;
		width:90%;
		height:auto;
		overflow-y: hidden;
		overflow-x: hidden;  
	  }
	
	  .container2{
		margin-left: 40px;
		margin-bottom: 40px;
		 margin-top: 10px;
		border: 5px solid grey; 
		opacity: 0.8;
		padding-top:1%;
		padding-left:2%;    
		border-radius: 1%;
		width:90%;
		height:auto;
		overflow-y: hidden;
		overflow-x: hidden;    
	  }
	 
	  img { 
		margin: 1%;
		border: 1px solid #ccc;
		float: left;
		
		display: block;
		transition: .5s ease;
		backface-visibility: hidden;
		  height: 36%;
		  width: 17%;
	  }
	  li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
	  
	  
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
		margin-left: 4%;
		margin-bottom: 4%;
		 margin-top: 1%;
		border: 5px solid grey; 
		opacity: 0.8;
		padding-top:1%;
		padding-left:2%;    
		border-radius: 1%;
		width:90%;
		height:auto;
		overflow-y: hidden;
		overflow-x: hidden;  
	  }
	
	  .container2{
		margin-left: 40px;
		margin-bottom: 40px;
		 margin-top: 10px;
		border: 5px solid grey; 
		opacity: 0.8;
		padding-top:1%;
		padding-left:2%;    
		border-radius: 1%;
		width:90%;
		height:auto;
		overflow-y: hidden;
		overflow-x: hidden;  
	  }
	
	  img { 
		margin: 1%;
		border: 1px solid #ccc;
		float: left;
		
		display: block;
		transition: .5s ease;
		backface-visibility: hidden;
		  height: 25%;
		  width: 30%;
	  }
	  li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
	  
	  
}

@media (max-width: 767px){
	.container{
		margin-left: 3%;
		margin-top: 1%;
		border: 5px solid grey; 
		margin-bottom: 3%;
		padding-top:1%;
		padding-left:2%;    
		border-radius: 1%;
		width:90%;
		height:auto;
		overflow-y: hidden;
		overflow-x: hidden;  
	  }
	
	  .container2{
		margin-left: 3%;
		margin-bottom: 3%;
		border: 5px solid grey; 
		opacity: 0.8;
		padding-top:1%;
		padding-left:2%;    
		border-radius: 1%;
		width:90%;
		height:auto;
		overflow-y: hidden;
		overflow-x: hidden;  
	  }
	 
	  img { 
		margin: 1%;
		border: 1px solid #ccc;
		float: left;
		
		display: block;
		transition: .5s ease;
		backface-visibility: hidden;
		  height: 22%;
		  width: 31%;
	  }

	  li a {
		display: block;
		color: black;
		text-align: center;
		padding: 11px 15px;
		text-decoration: none;
	  }
			
}